<% provide(:title, '') %>

<div class="slideshow">
	<img class="cover_image" src="/images/uas_starry_night1.png" />
</div>

<br />
<br />

<div class="container">
	<br />
	<h2> Announcement Board </h2>
	<!-- <% @user = User.find_by_id(1) %> -->
    <% if @user.announcements.any? %>
    	<ol class="no-list">
        	<%= render @announcements %>
      	</ol>
		<%= will_paginate @announcements %>
	<% else %>
		<br />
		<h4> Currently there are no announcements. Check out our facebook group for more information! </h4>
    <% end %>
</div>