<% provide(:title, 'Officers') %>

<div class="container">
	<br />
	<h2> Officers of UAS </h2>
	<div class="officer-box">
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> Not available</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> IPA </li>
						<li class="list-items"><b>Position:</b> </li>
						<li class="list-items"><b>Major and Year:</b> </li>
						<li class="list-items"><b> Email:</b> </li>
						<li class="list-items"><b> Website?:</b> </li>
						<li class="list-items"><b> Phone?:</b> </li>
						<li class="list-items"><b> Something that you want to say:</b> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> Not available</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> </li>
						<li class="list-items"><b>Position:</b> </li>
						<li class="list-items"><b>Major and Year:</b> </li>
						<li class="list-items"><b> Email:</b> </li>
						<li class="list-items"><b> Website?:</b> </li>
						<li class="list-items"><b> Phone?:</b> </li>
						<li class="list-items"><b> Something that you want to say:</b> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

</div>
