<% provide(:title, 'Officers') %>

<div class="container">
	<br />
	<h2> Officers of UAS </h2>
	<div class="officer-box">
		<!-- Szilard Gyalay -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Szilard-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Szilard Gyalay </li>
						<li class="list-items"><b>Position:</b> President</li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">szilard99<span class="hide">null</span>@gyalay<span class="hide">null</span>.com</a> </li>
						<li class="list-items"><b> Facebook:</b> <a href="https://www.facebook.com/sizzleinabox"> sizzleinabox </a></li>
						<li class="list-items"> "Szilard Gyalay, known by his friends as Sizzle, accidentally woke up as
						president one day and now runs this awesome club." </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Jesse Santana -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Jesse Santana </li>
						<li class="list-items"><b>Positions:</b> Vice President, and Junior Telescope Operator </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">santanajesse1<span class="hide">null</span>@<span class="hide">null</span>ucla.<span class="hide">null</span>edu</a> </li>
						<li class="list-items"><b> Phone:</b> (31<span class="hide">null</span>0)-49<span class="hide">null</span>1-84<span class="hide">null</span>18 </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Kevin Delao -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Kevin Delao </li>
						<li class="list-items"><b>Position:</b> Secretary </li>
						<li class="list-items"><b>Major and Year:</b> <a class="unknown-color">Unknown</a> </li>
						<li class="list-items"><b> Email:</b>  <a class="email">delao14x<span class="hide">null</span>@gmail<span class="hide">null</span>.com</a> </li>
						<li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color">"..."</a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Ryan Marse -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Ryan Marse </li>
						<li class="list-items"><b>Position:</b> Treasurer </li>
						<li class="list-items"><b>Major and Year:</b> <a class="unknown-color">Unknown</a> </li>
						<li class="list-items"><b> Email:</b>  <a class="email">rjmarse<span class="hide">null</span>@aol<span class="hide">null</span>.com</a> </li>
						<li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color">"..."</a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Jason Sun -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Jason Sun </li>
						<li class="list-items"><b>Position:</b> Chief Telescope Operator </li>
						<li class="list-items"><b>Major and Year:</b> <a class="unknown-color">Unknown</a> </li>
						<li class="list-items"><b> Email:</b>  <a class="email">jsun<span class="hide">null</span>.astro<span class="hide">null</span>@gmail<span class="hide">null</span>.com</a> </li>
						<li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color">"..."</a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Brittany Miles -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Brittany Miles </li>
						<li class="list-items"><b>Positions:</b> Chief Telescope Operator, and Social Chair </li>
						<li class="list-items"><b>Major and Year:</b> <a class="unknown-color">Unknown</a> </li>
						<li class="list-items"><b> Email:</b>  <a class="email">bemiles<span class="hide">null</span>@ucla.<span class="hide">null</span>edu</a> </li>
						<li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color">"..."</a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Yiqing "Rain" Song -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Yiqing-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Yiqing Song (Rayn) </li>
						<li class="list-items"><b>Position:</b> Junior Telescope Operator </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">yiqing1994<span class="hide">null</span>@ucla.<span class="hide">null</span>edu</a> </li>
						<li class="list-items"><b> Phone:</b> (310)-8<span class="hide">null</span>19-2<span class="hide">null</span>952</li>
						<li class="list-items"> "[UAS is about] Friends and my favorite science. It's been fun." </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Craig Jones -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Craig-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Craig Jones </li>
						<li class="list-items"><b>Positions:</b> Social Chair, and Graduate Advisor </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year MBA (UCLA Anderson) </li>
						<li class="list-items"><b> Email:</b>  <a class="email">craig.c.<span class="hide">null</span>jones<span class="hide">null</span>@anderson.<span class="hide">null</span>ucla.edu</a> </li>
						<li class="list-items"><b> Facebook:</b> <a href="https://www.facebook.com/craig.carter.jones"> craig.carter.jones </a></li>
						<li class="list-items"> "I used to be a science teacher and just need to be around Astronomy talk and smart people." </a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- David Ortega -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/David-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> David Ortega </li>
						<li class="list-items"><b>Position:</b> Social Chair </li>
						<li class="list-items"><b>Major and Year:</b> Fourth-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">david<span class="hide">null</span>1126<span class="hide">null</span>@sbcgl<span class="hide">null</span>obal<span class="hide">null</span>.net</a> </li>
						<li class="list-items"><b> Phone:</b> (66<span class="hide">null</span>1)-40<span class="hide">null</span>6-09<span class="hide">null</span>22</li>
						<li class="list-items"> "Astronomy Is Brilliant!" </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Jennifer Kadowaki -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Jennifer Kadowaki </li>
						<li class="list-items"><b>Position:</b> Senior Advisor </li>
						<li class="list-items"><b>Major and Year:</b> <a class="unknown-color">Unknown</a> </li>
						<li class="list-items"><b> Email:</b>  <a class="email">yukari<span class="hide">null</span>kado<span class="hide">null</span>waki@<span class="hide">null</span>gmail<span class="hide">null</span>.com</a> </li>
						<li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color">"..."</a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Christopher Dolan -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Chris-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Christopher Dolan </li>
						<li class="list-items"><b>Position:</b> Senior Advisor </li>
						<li class="list-items"><b>Major and Year:</b> Fourth-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">christ<span class="hide">null</span>opher<span class="hide">null</span>dolan@li<span class="hide">null</span>ve<span class="hide">null</span>.com</a> </li>
						<li class="list-items"><b> Facebook:</b> <a href="https://www.facebook.com/piathulus"> piathulus </a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Dave Milewski -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Dave Milewski </li>
						<li class="list-items"><b>Position:</b> SEDS Ambassador </li>
						<li class="list-items"><b>Major and Year:</b> <a class="unknown-color">Unknown</a> </li>
						<li class="list-items"><b> Email:</b>  <a class="email">dmil<span class="hide">null</span>ewski@<span class="hide">null</span>ucla<span class="hide">null</span>.edu</a> </li>
						<li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color">"..."</a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Cheuk Yu -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Cheuk-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Cheuk Yu </li>
						<li class="list-items"><b>Position:</b> Webmaster </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Electrical Engineering </li>
						<li class="list-items"><b> Email:</b>  <a class="email">yu_<span class="hide">null</span>che<span class="hide">null</span>uk@ya<span class="hide">null</span>hoo.c<span class="hide">null</span>om</a> </li>
						<li class="list-items"><b> Personal Website:</b> <a href="https://www.seas.ucla.edu/~cheuk/">www.seas.ucla.edu/~cheuk </a></li>
						<li class="list-items"> "Cheuk (pronounced as 'Chuck') used to coach Astronomy in Science Olympiad in high school. He is quite disappointed that UCLA does not offer a minor in Astrophysics." </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />
	<br />

</div>
