<% provide(:title, 'Officers') %>

<div class="container">
	<br />
	<h2> Officers of UAS </h2>
	<div class="officer-box">
		<!-- Szilard Gyalay -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Szilard-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Szilard Gyalay </li>
						<li class="list-items"><b>Position:</b> President</li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#115;&#122;&#105;&#108;&#097;&#114;&#100;&#057;&#057;&#064;&#103;&#121;&#097;&#108;&#097;&#121;&#046;&#099;&#111;&#109;&#032;</a> </li>
						<li class="list-items"><b> Facebook:</b> <a href="https://www.facebook.com/sizzleinabox"> sizzleinabox </a></li>
						<li class="list-items"> <i> "Szilard Gyalay, known by his friends as Sizzle, accidentally woke up as
						president one day and now runs this awesome club." </i> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Jesse Santana -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Jesse-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Jesse Santana </li>
						<li class="list-items"><b>Positions:</b> Vice President, and Junior Telescope Operator </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#115;&#097;&#110;&#116;&#097;&#110;&#097;&#106;&#101;&#115;&#115;&#101;&#049;&#064;&#117;&#099;&#108;&#097;&#046;&#101;&#100;&#117;</a> </li>
						<li class="list-items"><b> Phone:</b> (31<span class="hide">null</span>0)-49<span class="hide">null</span>1-84<span class="hide">null</span>18 </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Kevin Delao -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Kevin-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Kevin Delao </li>
						<li class="list-items"><b>Position:</b> Secretary </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#100;&#101;&#108;&#097;&#111;&#049;&#052;&#120;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a> </li>
						<li class="list-items"><b> Phone: </b> (310)-591-9482 </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Ryan Marse -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Ryan-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Ryan Marse </li>
						<li class="list-items"><b>Position:</b> Treasurer </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#114;&#106;&#109;&#097;&#114;&#115;&#101;&#064;&#097;&#111;&#108;&#046;&#099;&#111;&#109;</a> </li>
						<li class="list-items"><b> Favorite celestial object: </b> Epsilon Lyrae (the Double-Double) </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Brittany Miles -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Brittary-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Brittany Miles </li>
						<li class="list-items"><b>Positions:</b> Chief Telescope Operator, and Social Chair </li>
						<li class="list-items"><b>Major and Year:</b> Third-Year Physics, with Geophysics & Planetary Physics Minor </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#098;&#101;&#109;&#105;&#108;&#101;&#115;&#064;&#117;&#099;&#108;&#097;&#046;&#101;&#100;&#117;</a> </li>
						<li class="list-items"><b> Personal Website:</b> <a href="http://bemiles.bol.ucla.edu/">bemiles.bol.ucla.edu </a> </li>
						<li class="list-items"> <i> "I love planetary science, arcade games, and listening to Beyoncé." </i> </a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Jason Sun -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Jason Sun </li>
						<li class="list-items"><b>Position:</b> Chief Telescope Operator </li>
						<li class="list-items"><b>Major and Year:</b> Third-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#106;&#115;&#117;&#110;&#046;&#097;&#115;&#116;&#114;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a> </li>
						<!-- li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color"><i>"..."</i></a> </li -->
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Yiqing "Rain" Song -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Yiqing-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Yiqing Song (Rayn) </li>
						<li class="list-items"><b>Position:</b> Junior Telescope Operator </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#032;&#121;&#105;&#113;&#105;&#110;&#103;&#049;&#057;&#057;&#052;&#064;&#117;&#099;&#108;&#097;&#046;&#101;&#100;&#117;</a> </li>
						<li class="list-items"><b> Phone:</b> (310)-8<span class="hide">null</span>19-2<span class="hide">null</span>952</li>
						<li class="list-items"> <i> "[UAS is about] Friends and my favorite science. It's been fun." </i> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Anthony Nguyen -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Anthony-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Anthony Nguyen </li>
						<li class="list-items"><b>Positions:</b> Social Chair </li>
						<li class="list-items"><b>Major and Year:</b> Fourth-Year Chemistry </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#097;&#110;&#116;&#104;&#111;&#110;&#121;&#104;&#110;&#103;&#117;&#121;&#101;&#110;&#057;&#057;&#064;&#108;&#105;&#118;&#101;&#046;&#099;&#111;&#109;</a> </li>
						<li class="list-items"> <i>"I came, I saw, and suddenly I became a chair."</i> </a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Craig Jones -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Craig-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Craig Jones </li>
						<li class="list-items"><b>Positions:</b> Social Chair, and Graduate Advisor </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year MBA (UCLA Anderson) </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#032;&#099;&#114;&#097;&#105;&#103;&#046;&#099;&#046;&#106;&#111;&#110;&#101;&#115;&#064;&#097;&#110;&#100;&#101;&#114;&#115;&#111;&#110;&#046;&#117;&#099;&#108;&#097;&#046;&#101;&#100;&#117;</a> </li>
						<li class="list-items"><b> Facebook:</b> <a href="https://www.facebook.com/craig.carter.jones"> craig.carter.jones </a></li>
						<li class="list-items"> <i>"I used to be a science teacher and just need to be around Astronomy talk and smart people."</i> </a> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- David Ortega -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/David-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> David Ortega </li>
						<li class="list-items"><b>Position:</b> Social Chair </li>
						<li class="list-items"><b>Major and Year:</b> Fourth-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#100;&#097;&#118;&#105;&#100;&#049;&#049;&#050;&#054;&#064;&#115;&#098;&#099;&#103;&#108;&#111;&#098;&#097;&#108;&#046;&#110;&#101;&#116;</a> </li>
						<li class="list-items"><b> Phone:</b> (66<span class="hide">null</span>1)-40<span class="hide">null</span>6-09<span class="hide">null</span>22</li>
						<li class="list-items"> <i>"Astronomy Is Brilliant!" </i></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Christopher Dolan -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Chris-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Christopher Dolan </li>
						<li class="list-items"><b>Position:</b> Senior Advisor </li>
						<li class="list-items"><b>Major and Year:</b> Fourth-Year Astrophysics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#099;&#104;&#114;&#105;&#115;&#116;&#111;&#112;&#104;&#101;&#114;&#100;&#111;&#108;&#097;&#110;&#064;&#108;&#105;&#118;&#101;&#046;&#099;&#111;&#109;</a> </li>
						<li class="list-items"><b> Facebook:</b> <a href="https://www.facebook.com/piathulus"> piathulus </a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Jennifer Kadowaki -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Jennifer-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Jennifer Kadowaki </li>
						<li class="list-items"><b>Position:</b> Senior Advisor </li>
						<li class="list-items"><b>Major and Year:</b> Fourth-Year Physics </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#121;&#117;&#107;&#097;&#114;&#105;&#107;&#097;&#100;&#111;&#119;&#097;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a> </li>
						<li class="list-items"><b> Personal Website:</b> <a href="http://jkadowaki.bol.ucla.edu/">jkadowaki.bol.ucla.edu </a></li>
						<li class="list-items"> <i>"UAS has been an integral part of my UCLA career. As the former UAS president, I'm excited to see how this club has evolved over the years and will continue to grow under the new leadership."</i> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Dave Milewski -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/no_profile.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Dave Milewski </li>
						<li class="list-items"><b>Position:</b> SEDS Ambassador </li>
						<li class="list-items"><b>Majors and Year:</b> (Double Major in) Astrophysics, and Geophysics & Space Physics, Graduated in 2013 </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#100;&#109;&#105;&#108;&#101;&#119;&#115;&#107;&#105;&#064;&#117;&#099;&#108;&#097;&#046;&#101;&#100;&#117;</a> </li>
						<!-- li class="list-items"><b> Personal Website/Phone?:</b> <a class="unknown-color">Unknown</a></li>
						<li class="list-items"> <a class="unknown-color"><i>"..."</i></a> </li -->
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />

	<div class="officer-box">
		<!-- Cheuk Yu -->
		<table>
			<tr>
				<td class="left-spacing"> </td>
				<td class="officer-image"> 
					<img class="officer-image-resize" src="/images/Officers/Cheuk-PS.jpg" />
				</td>
				<td class="officer-description">
					<ul class="description-list">
						<li class="list-items"><b>Name:</b> Cheuk Yu </li>
						<li class="list-items"><b>Position:</b> Webmaster </li>
						<li class="list-items"><b>Major and Year:</b> Second-Year Electrical Engineering </li>
						<li class="list-items"><b> Email:</b>  <a class="email">&#121;&#117;&#095;&#099;&#104;&#101;&#117;&#107;&#064;&#121;&#097;&#104;&#111;&#111;&#046;&#099;&#111;&#109;</a> </li>
						<li class="list-items"><b> Personal Website:</b> <a href="https://www.seas.ucla.edu/~cheuk/">www.seas.ucla.edu/~cheuk </a></li>
						<li class="list-items"> <i>"Cheuk (pronounced as 'Chuck') used to coach Astronomy in Science Olympiad in high school. He is quite disappointed that UCLA does not offer a minor in Astrophysics."</i> </li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<br />
	<br />

</div>
