<% provide(:title, 'Pictures') %>

<div class="container">
	<br />
	<h2> Our Activities </h2>
	<br />

	<% if @albums.blank? %>
		<h4> There are currently no pictures! </h4>
	<% else %>
		<ol class="no-list">
			<div class="albums-container"><%= render @albums %> </div>
		</ol>
		<%= will_paginate @albums %>
	<% end %>
</div>