<% provide(:title, 'About UAS') %>

<div class="container">
	<br />
	<h2> What is UAS? </h2>
	<div class="text"> Some may ask what the awesomest club on campus is. They'd be wrong if they said anything other than UAS! The Undergraduate Astronomical Society (UAS for short) is an exciting club in which we discover the wonders of space, participate in building competitions, go on trips, and just fool around in general. Students of all disciplines are welcome! </div>

	<br />

	<h2> Meeting time </h2>
	<div class="text"> We currently meet in Knudsen 2-222 every Wednesday at 
    <% if daylightsaving? %>
		7:30PM (during Daylight Savings Time). 
	<% else %>
		6:30PM (during Standard Time).
	<% end %>
	Free food will be provided for the meeting. </div>

	<br />

	<h2> How to contact us? </h2>
	<div> 
		<ul class="description-list">
			<li> For any questions about the UAS, please email our President, Szilard Gyalay, at <a class="email"> szilard99<span class="hide">null</span>@gyalay<span class="hide">null</span>.com </a> </li>

			<br />

			<li> If you have any input about the website, please eamil our Webmaster, Cheuk Yu, at <a class="email">yu_cheuk<span class="hide">null</span>@yahoo<span class="hide">null</span>.com </a> </li>

			<br />

			<li> For more information or updates, you can also join our facebook group or subscribe to our google group:</li>

			<br />
			<li> 
				<table class="udmargin">
					<tr>
						<td class="updates"> <div class="subscribe-icon">
						<img src="/images/fb_icon.jpeg" /> </div>
						</td>
						<td class="updates"> <div class="subscribe-icon">
						<img src="/images/groups_logo_sm.gif" /> </div>
						</td>
					</tr>
					
					<tr>
						<td class="updates">
							<form method="link" action="https://www.facebook.com/groups/2220030336/"> <input type="submit" value="Join our Facebook Group" class="btn btn-info"> </form>
						</td> 

						<td class="updates">
							<form method="link" action="http://groups.google.com/group/ucla_uas/boxsubscribe"> <input type="submit" value="Subscribe to our Google Group" class="btn btn-info"> <form> 
						</td>
					</tr>

				</table>
			</li>
		</ul>
	</div>

	<br />

	<h2> Related Sites </h2>
	<div class="links">
		<ul>
			<li class="lkgaps"> <a href="http://sps.physics.ucla.edu/" target="_blank"> Society of Physics Students at UCLA</a> </li>
			<li class="lkgaps"> <a href="http://www.pa.ucla.edu/" target="_blank"> UCLA Physics main site </a> </li>
			<li class="lkgaps"> <a href="http://www.physorg.com/" target="_blank">Physics news </a></li>
		</ul>
	</div>

	<br />
</div>