<%= form_for(@announcement) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>

<div class="announcement-creation">
	<div class="announcement-instruction"> <h3> Create a new announcement </h3> </div>
	<div class="announcement-instruction"> Title: (minimum 5 characters)</div>
   <div class="announcement-form input-xxlarge">
    <%= f.text_field :title, placeholder: "Compose title..." %>
  </div>
  <br />
  <div class="announcement-instruction"> Content: (minimum 20 characters)</div> </p>
  <div class="announcement-form">
    <%= f.text_area :content, placeholder: "Compose content...(this box is resizable by dragging the bottom right corner)", :class => "content-form" %>
  </div>
  <br />
  <%= f.submit "Post", class: "announcement-instruction btn btn-large btn-primary" %>
</div>
<% end %>