@import "bootstrap";

/* universal */

html{
	overflow: auto;
	min-width:830px;
	margin: 0 auto;
	text-align: center;
}

body{
	background-image: url(/images/starry.jpg);
}

/* header */
.header_title{
	margin-left:25px;
}

.navbar{
    display: inline-block;
	margin-left: auto;
    margin-right: auto;
}

.navbar-inner{
	margin:0px;
    padding:0px;
}

div.navbar div.navbar-inner ul.nav a:hover {
    background-color: #080808 !important; 
}

.footer{
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
  text-align: center; 

}

.footer ul{
	list-style: none;
	display: inline-block;
}

.footer ul li{
	margin-left: 10px;
	float: left;
}

.link-color{
	color: #999 !important;
	text-decoration: none !important;
}



.container{
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-left: auto ;
  	margin-right: auto ;
	width: 830px;
	min-height: 300px;
	background-color: rgba(255, 255, 255, 0.7);
}

.email{
	font-color: blue;
}

.hide{
	display: none;
}

/* home page */

.slideshow{
	/* for 9:16 ratio */
	width:830px;
	height: 467px;
	background-color: white;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: -23px;
}

.no-list{
	list-style: none;
}

.showing-announcement{
	text-align: left;
	margin-left: 30px;
	width:730px;
}

.announcement-showing-title{
	font-size: 1.3em;
	margin-bottom: 5px;
	font-weight: bold;
}

.announcement-showing-content{
	font-size: 1.1em;
}

.announcement-showing-time{
	color: $navbarText;
	text-align: right;
}


/* officers page */

div.officer-box{
	width: 800px;
	height: 200px;
	background-color: yellow;
	margin-left: auto ;
  	margin-right: auto ;
}

td.left-spacing{
	width: 40px;	
}

td.officer-image{
	width: 150px;
	height: 200px;
	background-color: white;
	
}

td.officer-description{
	width: 570px;
	height: 200px;
	background-color: pink;
}

ul.description-list{
	list-style: none;
	text-align: left;
}

li.list-items{
	font-size: 1.3em;
	margin-bottom: 5px;
}

/* about uas page */

.text{
	text-align: left;
	margin-left: 30px;
	width:770px;
}

table.udmargin{
	margin-left: 60px;
}

td.updates{
	width: 300px;
}

.subscribe-icon{
	margin-left: 5px;
	width: 150px;
	height: 30px;
}

.subscribe-icon img {
    width: 100%;
    height: 100%;
}

.links{
	text-align: left;
	margin-left: 260px;
	width:540px;
}

li.lkgaps{
	font-size: 1.2em;
	margin-bottom: 5px;
}

/* sign in page */

.signin{
	text-align: left;
	margin-left: 310px;
}

/* admin page */

.signout{
	text-align: right;
	margin-right: 30px;
}

.announcement-creation{
	text-align: left;
	width: 400px;
	margin-left: 15px;
}

.announcement-instruction{
	text-align: left;
	margin-left: 30px;
	font-size: 1.13em;
	width: 350px;
}

.announcement-form{
	margin-left: 30px;
}

.meeting-time-button{
	margin-left: 60px;	
}

.meeting-time-showing{
	font-size: 1.13em;
}

.content-form{
	width: 350px;
}

div.header{
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

td.admin-cell{
	width: 415px;
	text-align: left;
	vertical-align: top;
}

.admin-an{
	color: green;
}

.delete-link{
	float: right;
}