<footer class="footer">
	<nav>
		<ul>
			<li>@UAS 2013-14.</li>
			<li> &nbsp; &nbsp;| &nbsp; &nbsp;</li>
			<li> Meeting time: Wednesday 7:30PM in Knudsen 2-222.</li>
			<li> &nbsp; &nbsp;| &nbsp; &nbsp;</li>
			<li> Admin Sign In </li>

		</ul>
	</nav>
</footer>