<footer class="footer">
	<nav>
		<ul>
			<li>@UAS 2013-14.</li>
			<li> &nbsp; &nbsp;| &nbsp; &nbsp;</li>
			<li> Meeting time: Wednesday 
				<% if daylightsaving? %>
					7:30PM 
				<% else %>
					6:30PM
				<% end %>
				in Knudsen 2-222.</li>
			<li> &nbsp; &nbsp;| &nbsp; &nbsp;</li>
			<li> 
				<% if signed_in? %>
					<%= link_to "Admin Page", 'users/1', class: 'link-color' %>
				<% else %>
					<%= link_to "Admin Sign In", signin_path, class: 'link-color' %> 
				<% end %>
			</li>

		</ul>
	</nav>
</footer>